@using Microsoft.AspNetCore.Identity
@using ET.Web.Models

@inject UserManager<ApplicationUser> userManager 

@{
var user = await userManager.GetUserAsync(User);
var userId = user?.Id;
}

<div class="text-center">
    <h1 class="display-4">Welcome @User?.Identity?.Name</h1>
    <p>Your id is: @userId</p>
</div>